
.navbar-pouch {
    background-color: #8D5795;
    color: #FFFFFF;
}

.card-pouch-add{
    padding: 4rem 4rem 4rem 4.5rem;
    border-radius: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    max-width: 75%;
}


  
  
